
/************************************** GENERAL **************************************/
*
{
    margin:0;
    padding:0;
}

html, body
{
    --light : #f4f4f9;
    --purple : #59095b;
    --yellow : #E0DC53; 
    --pink : #F924FF;
    --orange : #FCA75D;
    --text-color : #161712;

    width: 100%;
    background-color: var(--light)
}

main 
{
    width:100%;
    min-height: calc(100vh - 70px);
    font-family: 'poppins', sans-serif;
} 

footer 
{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 70px;
    color:var(--text-color);
    background-color: var(--light);
    font-family: 'Tenor sans', cursive;
    border-top: 1px solid var(--purple);
}

footer>p
{
    padding:20px;
    text-align:center;
}

h2
{
    font-family: 'Tenor Sans', sans-serif;
    font-size :4em;
    font-weight:100;
    color:var(--text-color);  
}

h3
{
    font-family: 'Tenor sans' sans-serif;
}

.fab, .fas
{
    width: 100px;
    margin: 10px 0;
}

.btn-purple 
{
    background-color: var(--light-green);
    color:var(--text-color);
    width: 100px;
    border-radius: 3px;
    margin:0 20px 20px 20px;
    text-align:center;
}

.btn-purple:hover 
{
    background-color: var(--purple);
    color:var(--light);
}

/*********************************** NAVIGATION ***********************************/  

header
{
    background: rgb(244,244,249);
    background: linear-gradient(0deg, rgba(244,244,249,0) 0%, rgba(244,244,249,0.9108018207282913) 18%, rgba(244,244,249,1) 36%);   
    position: fixed;
    top: 0px;
    width: 100%;
    height: 70px;
    font-family: 'Tenor Sans', sans-serif;
    z-index :100;
}

nav
{
    font-family: 'Tenor sans', cursive;
    width: 100%;
    font-size:21px;
}

nav>ul
{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 1200px;
    height: 70px;
    margin:auto; 
}

nav>ul>li
{
    list-style-type: none;
    margin:5px 50px;
    padding: 15px 0;
    opacity: 1;
    animation: 2s slideUp ease forwards .5s;
    position: relative;   
}

#menu>ul>li>a>img
{
    width:30px;
    height:30px;
    margin-right:10px;
}

#menu>ul>li>a:first-child
{
    display:flex;
    align-items:center;
}

nav>ul>li>a
{
    text-decoration: none;
    color:var(--text-color);  
}

#menu li::before 
{
    content: '';
    height: 5px;
    width: 0px;
    left: 0;
    bottom: 10px;
    background: var(--yellow); 
    color:var(--purple);
    transition: all .5s ease;
    position: absolute;
}

#menu li:hover:before 
{
    width: 100%;
}

#menu a:hover
{
    color:var(--purple);
}  

#burger 
{
    display:none;
}
/*********************************** PAGE ACCUEIL ***********************************/  

/*********************** LOGO ************************/
/*****************************************************/  

.logo-name
{
    position: relative;
    margin: 85px auto;
    width: 100%;
    min-height: 900px;
    height: calc(100vh - 70px);
    overflow: hidden;
}

#full-logo
{
    width: 1200px;
    height: calc(100vh - 505px);
    min-height:300px;
    margin: auto;
    top: calc(35% - 100px);    
    z-index:0;
}

.logo
{
    position:absolute;
    background:no-repeat center center;

}

#back-triangle
{
    background-image: url("./assets/logo/SVG/back-triangle.svg");
    width: 200px;
    height: 200px;
    top:calc(31% - 100px);
    left:calc(49.5% - 100px);
    transition: 1s all;
}

#middle-triangle
{
    background-image:url("./assets/logo/SVG/middle-triangle.svg");
    width: 200px;
    height: 200px;
    top:calc(32% - 100px);
    left:calc(50.5% - 100px);
    transition: 1.1s all;
}

#front-triangle
{
    background-image:url("./assets/logo/SVG/front-triangle.svg");
    width: 200px;
    height: 200px;
    top:calc(31.5% - 100px);
    left:calc(50% - 100px);
    transition: 1.2s all;
}

#drill
{
    background-image:url("./assets/logo/SVG/drill.svg");
    width: 100px;
    height: 100px;
    top:calc(33% - 50px);
    left:calc(50% - 50px);
    transition: 1.3s all;
}

#little-drill
{
    background-image:url("./assets/logo/SVG/little-drill.svg");
    width: 70px;
    height: 70px;
    top:calc(32% - 25px);
    left:calc(50.35% - 25px);
    transition: 1.4s all;
}

/********************* NOM/TITRE *********************/
/*****************************************************/  

#amanda
{
    width: 1200px;
    height: 420px;
    margin: auto;
    padding: 0px;
    z-index:1;

}

h1, #name1
{
    font-family: 'Cookie', cursive;
    font-size: 10em;
    font-weight:normal;
    text-align:center;
    width:100%; 
}

h1
{
    position:relative;
    margin-top: -175px;
    color: var(--purple); 
    font-size:10em; 
    text-shadow: 4px 0px var(--orange);
}

h1:hover
{
    animation: slide-right 1s ;

}

@keyframes slide-right 
{
  0% { margin-left:0 }
  50% { margin-left: 8px }
  100% { margin-left:0 }
}

#name1
{
    color: var(--yellow);
    margin-left: -5px;
}

#titre
{
    position:relative;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.43em ;
    text-align: center;
    font-size: 3em;
    font-style:normal;
    font-weight:500;  
}

/********************** PARCOURS **********************/
/*****************************************************/  

#accueil
{
    width: 1160px;
    min-height: 100vh;
    margin:auto;
    margin-bottom: 100px;
}

#parcours
{
   display:flex;
   justify-content: space-between;
}

#road
{
    background-image: url("");
    background-position: center;
    width:50%;
    overflow:hidden;
    margin-right:40px;
}


#accueil>h2
{
    z-index:1;
    color:var(--purple);
    text-shadow : -4px 0px var(--yellow);
    margin: 50px auto;
}

#experiences
{
    width: 50%;
    padding-left: 40px;
    display: block;
    border-left: 1px solid var(--orange);
}

.company
{

    font-family: 'Tenor sans', sans-serif;
    font-size:1.2em;
    text-shadow: 1px 0px #59095b;
    color:var(--purple);
}

.date
{
    font-weight: bold;
    margin: 5px 0 ;
}

.steps
{
    margin: 30px 0px;
}

p:last-child
{
    text-align:justify;
}


/********************** TECHNOS **********************/
/*****************************************************/  

#soft-and-tech
{
    width: 1200px;
    margin: auto;
}

#technos    
{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items: flex-end;
    margin-bottom: 100px;
}

#technos>h2
{
    z-index:1;
    color:var(--purple);
    margin:50px 0px;
    text-shadow: -4px 0px var(--orange);
}

#img
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

#img>img
{
    width:60px;
    height:60px;
    margin:30px;
}

/******************** SOFTS SKILLS ********************/
/*****************************************************/ 

#softskills
{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    margin-bottom: 100px;
}

#softskills>h2
{
    z-index:1;
    color:var(--purple);
    margin:50px 0px;
    text-shadow : -4px 0px var(--pink);
}

#flowerSoftSkills
{
    margin:auto;  
}

#flower
{
    width:400px;
    height:400px;
    background-image: url("./assets/softs-skills/fleur.svg");
}

.softs
{
    width: 150px;
    position: relative;
}

#curieuse
{
    top:80%;
    left:80%;
}

#adaptable
{
    top:25%;
    left:92%;
}

#rigoureuse
{
    top:-12%;
    left:38%;
}

#dynamique
{
    top:61.5%;
    left:-3%;
}

#organisee
{
    top:6.5%;
    left:-13%;
}

#avatar
{
    position: relative;
    top:5%;
    left:35%;
    width:120px;
    height:120px;
    background-image : url("./assets/avatar-amanda2.jpg");
    background-size:cover;
    border-radius:100%;
}

#avatar:hover
{
    background-image : url("./assets/amanda.png");
}


/*********************************** PAGE PROJETS ***********************************/  

#projectcontent
{
    width: 1200px;
    padding-top: 100px;
    margin:auto;
}

#projectcontent>h2
{
    color:var(--purple);
    text-shadow : 3px 2px var(--orange);
    margin: 50px auto;
    text-align: center;
}

#container
{
    width:1200px;
    margin: 0px auto 50px;
    border: 20px solid var(--yellow);
}   

#gridcontent
{    
    width:100%;
    display: grid;                                                      /*mise en place du grid*/
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;    /*hauteur des lignes*/
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;                     /*largeur des colonnes*/                           
    grid-gap: 20px;                                                     /*espaces entre les éléments*/
    background-color:var(--yellow);
}

.celgrid
{    
    background-size: cover;
    background-position: center;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.celgrid:hover
{
    -webkit-filter: grayscale(0);
	filter: grayscale(0);   
}

#cel1
{
    background-image: url("./assets/projets/hackcess-apercu.png");
    grid-column-start: 1; 
    grid-column-end: 5; 
    grid-row-start: 12; 
    grid-row-end: 15;
}

#cel2
{
    background-image: url("./assets/projets/travel-apercu.png");
    grid-column-start: 5; 
    grid-column-end: 8; 
    grid-row-start: 3; 
    grid-row-end: 5;
}

#cel3
{
    background-image: url("./assets/projets/presentation-illustration-nevinator.jpg");
    grid-column-start: 3; 
    grid-column-end: 8; 
    grid-row-start: 15; 
    grid-row-end: 19;
}

#cel4
{
    background-image: url("./assets/projets/portfolio1-apercu.png");
    grid-column-start: 1; 
    grid-column-end: 3; 
    grid-row-start: 7; 
    grid-row-end: 9;
}

#cel5
{
    background-image: url("./assets/projets/nevinator-apercu.png");
    grid-column-start: 3; 
    grid-column-end: 8; 
    grid-row-start: 8; 
    grid-row-end: 12;
}

#cel6
{
    background-image: url("./assets/projets/lfmr-apercu.png");
    grid-column-start: 1; 
    grid-column-end: 3; 
    grid-row-start: 5; 
    grid-row-end: 7;
}

#cel7
{
    background-image: url("./assets/projets/nevinator-logo.jpg");
    grid-column-start: 5; 
    grid-column-end: 8; 
    grid-row-start: 14; 
    grid-row-end: 15;
}

#cel8
{
    background-image: url("./assets/projets/dsm-apercu.png");
    grid-column-start: 5; 
    grid-column-end: 8; 
    grid-row-start: 1; 
    grid-row-end: 3;
}

#cel9
{
    background-image: url("./assets/projets/casse-brique-apercu.png");
    grid-column-start: 1; 
    grid-column-end: 3; 
    grid-row-start: 17; 
    grid-row-end: 19;
}

#cel10
{
    background-image: url("./assets/projets/logo-playstation-apercu.png");
    grid-column-start: 6; 
    grid-column-end: 8; 
    grid-row-start: 5; 
    grid-row-end: 8;
}

#cel11
{
    background-image: url("./assets/projets/circus-apercu.png");
    grid-column-start: 1; 
    grid-column-end: 3; 
    grid-row-start: 9; 
    grid-row-end: 12;
}


#cel12
{
    background-image: url("./assets/projets/portfolio2-apercu.png");
    grid-column-start: 5; 
    grid-column-end: 8; 
    grid-row-start: 12; 
    grid-row-end: 14;
}

#cel13
{
    background-image: url("./assets/projets/chocolat-apercu.png");
    grid-column-start: 1; 
    grid-column-end: 5; 
    grid-row-start: 1; 
    grid-row-end: 5;
}

#cel14
{
    background-image: url("./assets/projets/courriers-apercu.png");
    grid-column-start: 3; 
    grid-column-end: 6; 
    grid-row-start: 5; 
    grid-row-end: 8;
}

#cel15
{
    background-image: url("./assets/projets/portfolioV3-apercu.png");
    grid-column-start: 1; 
    grid-column-end: 3; 
    grid-row-start: 15; 
    grid-row-end: 17;
}

#overlay 
{	
    position:fixed;
    top: 50px; 
    left: 0;
    bottom:0;
    right:0;
    background-color: rgba(22, 23, 18, 0.5);
    z-index: 4;
    display:none;
}

.modal 
{
    width : 70%;
    padding:20px;
    text-align: center;
    color:var(--text-color);
    background-color:var(--light); 
    border:5px solid var(--yellow);
    position: fixed;
    top: 50%; 
    left: 50%;
    transform:translate(-50%,-50%);
    z-index: 5;
    display:none; 
}

.modal>img
{
    width: 70%;
    margin-bottom: 20px;
    border:1px solid var(--orange);
}

.modal h3
{
    font-size: 2em;
    margin:20px 0px;
    color: var(--purple);
    text-shadow: 2px 1px var(--pink);
}

.modal>p:last-of-type
{
    text-align: justify;
    width: 70%;
    margin:0px auto 20px;
}

.close img
{
    font-size: 20px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    color:var(--purple);
    width: 40px;
    height: 40px;
    border:5px solid var(--yellow);
    background-color: var(--light);
    border-radius: 20px;
    position: absolute;
    right:-20px;
    top: -20px;
    margin: 0;
    cursor: pointer;
}


/*********************************** PAGE CONTACT ***********************************/  


#mood-content
{
   margin-top:100px; 
}

#section-contact
{
    display: flex;
    justify-content: center;
    width: 100%;
    height:calc(100vh - 150px);
    color: var(--text-color); 
    overflow-y : scroll;
    z-index:0;
}

form 
{
    width:500px;
    margin:auto;
}

form>button 
{
    margin:0 !important;
    padding:5px;
}

form input,textarea
{
    width:100%;
    margin-bottom:20px;
    padding:0 20px 0 20px;
    display:flex;
} 


